.recover-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px var(--card-shadow-lighter);
  padding: 40px 35px;
  text-align: center;
  margin-top: 15rem;
  width: 30rem;
}
.back-to-login {
  margin-top: 20px;
  font-size: 14px;
  color: var(--color-text-normal);
}

.back-to-login a {
  color: var(--color-primary-dark);
  font-weight: 600;
  text-decoration: none;
}